<h2>Welcome! Please log in.</h2>
<div class="card">
	<div class="card-header">
    Login with
	</div>
	<div class="card-body">
		<a href="/auth/google">
    	<span><i class="fab fa-google"></i></span>&nbsp;Google
  	</a>
	</div>
</div>
